tml{
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: xx-large;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(233, 229, 223);
  background-image: linear-gradient(to top, rgb(194, 114, 248), rgba(247, 238, 111, 0.849));
  
}
.titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo-git{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color:rgb(233, 229, 223)
}
